---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - route.yaml
  - route-ws.yaml
labels:
  - pairs:
      app.kubernetes.io/name: mcp-inspector
      app.kubernetes.io/component: inspector
      app.kubernetes.io/part-of: mcp-tools
