kind: Secret
apiVersion: v1
metadata:
  name: pgvector-secret
  labels:
    app.kubernetes.io/instance: pgvector-secret
stringData:
  pgvector-host: "YOUR_PGVECTOR_HOST"
  pgvector-port: "YOUR_PGVECTOR_PORT"
  pgvector-db: "YOUR_PGVECTOR_DB"
  pgvector-user: "YOUR_PGVECTOR_USER"
  pgvector-password: "YOUR_PGVECTOR_PASSWORD"
type: Opaque
